## copy this to config.properties

## jogamp libraries can be downloaded from https://jogamp.org/deployment/v2.5.0/archive/jogamp-all-platforms.7z
## below is the jogamp-all-platforms/ directory you should have extracted
#jogamp.home=
